name: common-build-publish-sofa-package

on:
  workflow_call:
    inputs:
      package-name:
        required: true
        type: string
      runner:
        required: true
        type: string
      platform:
        required: true
        type: string        
      python:
        required: false
        type: string
      recipe-dir:
        required: true
        type: string
      channel:
        required: true
        type: string
      publish-package:
        required: true
        type: boolean
      git-sha:
        required: false
        type: string
      git-commit-date:
        required: false
        type: string
    secrets:
      api-key:
        required: true

jobs:
  build-publish-sofa:
    name: "${{ inputs.package-name }} - ${{ inputs.platform }} (py${{ inputs.python }} ) conda packages on ${{ inputs.runner }}"
    runs-on: ${{ inputs.runner }}
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    # We force to use a conda env located close to filesystem root on Windows to bypass a compilation bug with SOFA
    # due to too long filename, even if LongPath registry key is enabled
    - name: Install miniconda [Windows]
      if: contains(inputs.runner, 'windows')
      uses: conda-incubator/setup-miniconda@v3
      with:
        activate-environment: c:\so
        auto-update-conda: true
        miniforge-version: latest
        conda-remove-defaults: "true"

    - name: Install miniconda [Linux x64 & macOS]
      if: contains(inputs.runner, 'windows') == false && !(contains(inputs.runner, 'ubuntu') && contains(inputs.runner, 'arm'))
      uses: conda-incubator/setup-miniconda@v3
      with:
        activate-environment: sofa-conda-ci
        auto-update-conda: true
        miniforge-version: latest
        conda-remove-defaults: "true"

    - name: Install miniconda [Linux aarch64]
      if: contains(inputs.runner, 'ubuntu') && contains(inputs.runner, 'arm')
      uses: conda-incubator/setup-miniconda@v3
      with:
        activate-environment: sofa-conda-ci
        auto-update-conda: true
        miniforge-version: latest
        architecture: aarch64
        conda-remove-defaults: "true"

    - name: Install conda environment
      shell: bash -l {0}
      # requests is used to query graphql prefix.dev api with devel packages
      run: |
        conda install rattler-build requests -c conda-forge

      # Same remark here about too long filename bug on windows, we have to force the output directory accordingly on windows
    - name: Setup output directory
      shell: bash -l {0}
      run: |
        if [[ ${{ inputs.runner }} == "windows"* ]]; then
          echo "PKG_DIR=c:/so/bld" >> $GITHUB_ENV
        else
          echo "PKG_DIR=$CONDA_PREFIX/rattler-bld" >> $GITHUB_ENV
        fi

    - name: Show conda config
      shell: bash -l {0}
      run: |
        conda info
        conda list
        conda config --show-sources
        conda config --show
        printenv | sort

    - name: Configure recipe [devel]
      if: ${{ inputs.recipe-dir == 'devel' }}
      shell: bash -l {0}
      run: |
        cd conda/recipes/${{ inputs.recipe-dir }}/${{ inputs.package-name }}/recipe
        # if a git SHA1 has been provided, use it
        if [[ ! -z "${{ inputs.git-sha }}" && ! -z "${{ inputs.git-commit-date }}" ]]; then
          sed -e "s/%GIT_SHA%/${{ inputs.git-sha }}/g" -e "s/%DATE_YYYYMMDD%/${{ inputs.git-commit-date }}/g" recipe.yaml.in > recipe.yaml
        fi
        # Show configured recipe
        echo "==== Configured recipe:"
        cat recipe.yaml

    # Same remark here about too long filename bug on windows, we have to force the output directory accordingly on windows
    - name: Build conda package
      shell: bash -l {0}
      run: |
        conda info
        cd conda/recipes/${{ inputs.recipe-dir }}
        # remap given platform to config filename conda-forge standard
        CONFIG_FILE_SPEC=`echo  ${{ inputs.platform }} | sed 's/-/_/g'`_
        if [ ! -z "${{ inputs.python }}" ]; then
          CONFIG_FILE_SPEC=${CONFIG_FILE_SPEC}python${{ inputs.python }}
          echo "Config file spec: $CONFIG_FILE_SPEC for platform: ${{ inputs.platform }} (with python ${{ inputs.python }})"
        else
          echo "Config file spec: $CONFIG_FILE_SPEC for platform: ${{ inputs.platform }} (no python)"
        fi
        CONFIG_FILE=`find ${{ inputs.package-name }}/.ci_support -name "$CONFIG_FILE_SPEC*"`
        if [ -z "$CONFIG_FILE" ] ; then
          echo "Could not find configuration matching specs $CONFIG_FILE_SPEC for ${{ inputs.recipe-dir }}/${{ inputs.package-name }}"
          echo "It is likely some platform / python-version combination specified in the feedstock parent workflow is deprecated and not anymore supported by conda-forge"
          echo "Here is the list of available configuration files for the feedstock ${{ inputs.recipe-dir }}/${{ inputs.package-name }}:"
          echo `ls -l ${{ inputs.package-name }}/.ci_support`
          exit 1
        fi
        echo "Config file used for building package: $CONFIG_FILE"
        rattler-build build --recipe ${{ inputs.package-name }}/recipe/recipe.yaml --variant-config $CONFIG_FILE --output-dir ${{ env.PKG_DIR }} --experimental -c conda-forge -c https://prefix.dev/${{ inputs.channel }} --channel-priority disabled

    # Remove already existing package if any
    # For release packages, we just remove if package with exact name already exists, and we keep previous builds
    - name: Remove existing package [non-devel]
      if: ${{ inputs.publish-package == true && inputs.recipe-dir != 'devel' }}
      shell: bash -l {0}
      run: |
        cd ${{ env.PKG_DIR }}/${{ inputs.platform }}
        for file in *${{ inputs.package-name }}*.conda; do
          curl -X DELETE https://prefix.dev/api/v1/delete/${{ inputs.channel }}/${{ inputs.platform }}/$file -H "Authorization: Bearer ${{ secrets.api-key }}"
        done

    # For devel packages, we only keep last build. So we will remove previous one(s) after successful publish
    - name: Query existing package(s) [devel]
      if: ${{ inputs.publish-package == true && inputs.recipe-dir == 'devel' }}
      id: query_filenames
      shell: bash -l {0}
      run: |
        echo "result=$(python .github/workflows/fetch_packages_names.py --channel ${{ inputs.channel }} --package ${{ inputs.package-name }} --platform ${{ inputs.platform }})" >> $GITHUB_OUTPUT

    - name: Publish conda package
      if: ${{ inputs.publish-package == true }}
      shell: bash -l {0}
      run: |
        for file in ${{ env.PKG_DIR }}/**/*${{ inputs.package-name }}*.conda; do
          rattler-build upload prefix -c ${{ inputs.channel }} --api-key ${{ secrets.api-key }} "$file"
        done

    - name: Remove existing package [devel]
      if: ${{ inputs.publish-package == true && inputs.recipe-dir == 'devel' }}
      shell: bash -l {0}
      run: |
          packages='${{ steps.query_filenames.outputs.result }}'

          echo "$packages" | jq -c '.[]' | while read filename; do
            curl -X DELETE https://prefix.dev/api/v1/delete/${{ inputs.channel }}/${{ inputs.platform }}/$filename -H \"Authorization: Bearer ${{ secrets.api-key }}\""
          done
