name: nightly-sofa-all-packages
on:
  # schedule:
    # Nightly launches at 1:15
    # - cron:  '15 1 * * *'
  workflow_dispatch:

jobs:
  build-publish-sofa:
    uses: ./.github/workflows/nightly-sofa.yml
    secrets: inherit
  build-publish-sofa-python3:
    uses: ./.github/workflows/nightly-sofa-python3.yml
    needs: build-publish-sofa
    secrets: inherit