name: query conda package from prefix.dev hosted channel
on:
  workflow_call:
  workflow_dispatch:
   inputs:
      channel:
        description: 'Channel'
        required: true
        options: [sofa-framework, sofa-framework-devel]
        default: 'sofa-framework-devel'
      platform:
        description: 'Platform'
        required: true
        type: choice
        options: [linux-64, linux-aarch64, osx-64, osx-arm64, win-64]
        default: 'linux-64'
      package:
        description: 'Package name'
        required: true
        type: string
        default: 'libsofa'
jobs:
  remove-conda-package-from-prefix:
    name:  "packages on ${{ inputs.runner }}"
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install requests

      - name: Query files
        id: query_filenames
        run: |
          echo "result=$(python .github/workflows/fetch_packages_names.py)" >> $GITHUB_OUTPUT

      - name: Loop over results
        run: |
          packages='${{ steps.query_filenames.outputs.result }}'

          echo "$packages" | jq -c '.[]' | while read package; do
            platform=$(echo "$package" | jq -r '.[0]')
            filename=$(echo "$package" | jq -r '.[1]')
            echo "Platform: $platform - Filename: $filename"
          done
    # - name: Remove existing package
    #   shell: bash -l {0}
    #   run: |
    #     echo "curl -X DELETE https://prefix.dev/api/v1/delete/${{ inputs.channel }}/${{ inputs.platform }}/${{ inputs.filename }} -H \"Authorization: Bearer --secrets--\""
